<!doctype html>
<html lang = xmlns:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form th:object="${product}" th:action="@{/admin/product/create}" method="post">
    <table>
        <tr>
            <td>NAME</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>PRICE</td>
            <td><input type="text" th:field="*{price}"></td>
        </tr>
        <tr>
            <td>QUANTITY</td>
            <td><input type="text" th:field="*{quantity}"></td>
        </tr>
        <tr>
            <td>IMG</td>
            <td><input type="text" th:field="*{img_url}"></td>
        </tr>
        <tr>
            <td>STATUS</td>
            <td><select th:field="*{status}">
                <option th:value="1" >Active</option>
                <option th:value="0">Not Active</option>
            </select>
            </td>
        </tr>
<!--        <tr>-->
<!--            <td>CATEGORY</td>-->
<!--            <td >-->
<!--                <select th:field="*{categoryDTO}">-->
<!--                    <option th:each="item : ${categories}" th:value="${item.id}" th:text="${item.name}" ></option>-->
<!--                </select>-->
<!--            </td>-->
<!--        </tr>-->


    </table>
    <button type="submit" value="add">add</button>
    <button type="reset" value="reset">reset</button>
</form>
</body>
</html>