<!doctype html>
<html lang = xmlns:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HuyShop</title>
</head>
<body>
<h1>ROLE-LIST</h1>
<a th:href="@{/admin/create_role}">add new </a>
<table border="1">
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>STATUS</td>
        <td>ACTION</td>
    </tr>
    <tr th:each="item : ${roles}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name} "></td>
        <td th:text="${item.status}? 'Active':'Not Active' "></td>
        <td><a th:href="@{|/admin/role/details/${item.id}|}">update</a></td>
    </tr>
</table>
</body>
</html>