<!doctype html>
<html lang = xmlns:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HuyShop</title>
</head>
<body>
<h1>USER-LIST</h1>
<a th:href="@{/admin/create_user}">add new </a>
<table border="1">
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>DOB</td>
        <td>PHONE</td>
        <td>EMAIL</td>
        <td>ADDRESS</td>
        <td>USERNAME</td>
        <td>PASSWORD</td>
        <td>STATUS</td>
        <td>ROLE</td>
        <td>ACTION</td>
    </tr>
    <tr th:each="item : ${users}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name} "></td>
        <td th:text="${item.dob} "></td>
        <td th:text="${item.phone} "></td>
        <td th:text="${item.email} "></td>
        <td th:text="${item.address}"></td>
        <td th:text="${item.userName}"></td>
        <td th:text="${item.passWord}"></td>
        <td th:text="${item.status}? 'Active':'Not Active' "></td>
        <td th:text="${item.roleId.name}"></td>
        <td><a th:href="@{|/admin/user/details/${item.id}|}">update</a></td>
    </tr>
</table>
</body>
</html>